.ant-picker-focused.ant-picker {
    padding: 8px 12px;
    width: 300px
}

.ant-picker-range {
    width: 300px
}

.ant-input {
    border-radius: 4px;
}

.ant-select-selector {
    padding: 8px 12px;
    width: 300px
}

.ant-select-single {
    width: 300px
}

.ant-input-group-addon {
    font-weight: bold;
    flex: 1 0 auto;
    text-align: center;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    padding: 8px 12px;
    color: #000;
    white-space: nowrap;
}

.ant-input {
    padding: 8px 12px;
    font-weight: normal;
}

.ant-input-group-addon:first-child {
    font-weight: bold;
}